.clients{
    padding: 94px 0;
   }
   .logo__link{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 170px;
    height: 92px;
    border-radius: 4px;
    fill: var(--color-gray);
    border: 1px solid var(--color-gray);
    transition: fill 250ms var(--cubic-bezier);
    border: 250ms var(--cubic-bezier);
    &:hover,
    &:focus{
        fill: var(--accent-color);
        border: 1px solid var(--accent-color)
    }
}
   .clients__pick{
    color:#212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.our__clients{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
    padding: 0;
    margin: 0
}

