
.hero{
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--hero-color-gradient);
    background-image: 
        linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4) ),
          url(../images/hero/jpg.hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 200px 0;
}
.hero, .text {
    text-align: center;
}

.text {
    color: var(--header-bcolor);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-bottom: 44px;
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.button__order {
    display: inline-block;
    padding: 10px 32px;
    background-color: var(--accent-color);
    color: var(--header-bcolor);
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em; 
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    min-width: 216px;
    
}
.well{
   display: flex;
   gap: 30px;
}
// .well ul{
//     // list-style-type: none;
// }
.company__plus{
        display: block;
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            }
        @media screen and (min-width: 1200px) {
            display: flex;
            flex-wrap: nowrap;
            gap: 30px;
            }
    
    }

.list__size{
    flex-basis: auto;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);
        margin-bottom: 0;
        }
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 30px) / 4);
        }
}
.list__preferences{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    min-height: 120px;
    border-radius: 4px;
    background-color: var(--team-bcolor);
}
.benefits {
 color:var(--h-color-text);
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: left;
           }
    @media screen and (min-width: 1200px) {
     text-align: left;
        }
      
}
.benefits__text{
    color: #757575;
    font-weight: 400;
    line-height: 1.71;
    margin-top: 10px;
}