
  

.follow__list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
        }
    @media screen and (min-width: 1200px) {
 
        }  
}

.follow__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms var(--cubic-bezier);
}

.follow__link:hover,
.follow__link:focus{
    background: var(--accent-color);
   
}
