       
    .header {
        
    
        position: relative;
    }
    .header__container{
        
        display: flex; 
        align-items: center
        
    }
    header{
        border-bottom: 1px solid #ECECEC;
    }
    .mobile__container {
        display: none;
    
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: flex;
            align-items: center;
            gap: 97px;
    
            margin-left: auto;
        }
    
        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: center;
            flex-grow: 1;
            margin-left: 92px;
        }
    }
    .site-nav__link{
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--h-color-text);
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        transition: color 250ms var(--cubic-bezier);
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
    .site__nav{
        display: flex;
    }
    
.link-studio__active{
        color: var(--accent-color);
        &::after {
            position: absolute;
            bottom: -1px;
            right: 0;
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            background-color: var(--accent-color);
            border-radius: 2px;
        }
    }
    

    .contacts__address{
        margin-right: 50px;
    }
  
    
    .header__li{
        position:relative;
        margin-right: 50px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .header__li:nth-last-child(-n + 1) {
        margin-right: 0;
    }
       .contacts__address:nth-last-child(-n + 1){
       margin-right: 0;
       }
      
  
  
    
   
   
    .contacts-nav__link{
            display: flex;
            margin-left: auto;
        
            @media screen and (min-width: 768px) {
                flex-direction: column;
            }
        
             @media screen and (min-width: 1200px) {
                flex-direction: row;
            }
        }
    .nav__address{
        display: flex;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        align-items: center;
        color: var(--h-color-text);
        transition: color 250ms var(--cubic-bezier);
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 12px;
        }
    
    }
   .contacts__svg{
        fill: currentColor;
        margin-right: 10px;
    }
    .contacts .contacts__address + .contacts__address {
    
        @media screen and (min-width: 1200px) {
            margin-left: 50px;
        }
    }
    
    .contats__item{
         margin-bottom: 10px;
    
        &:last-child{
            margin-bottom: 0;
        }
    
         @media screen and (min-width: 1200px) {
            margin-bottom: 0;
        }
    }
    