.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin-top: 24px;
    margin-bottom: 25px;
}


.logo__type {
    color:var(--accent-color);
    font-weight: 700;;
    font-size: 26px;
    line-height: 1.19;
}
.second__style {
    color:#000000;
}
.logowhite .logo__type{
    display: inline-block;
    margin-bottom:20px;
}
/* LOGOTYPE FLEX */
.logo{
    display:flex;
}
.logo{
    display: inline-block;

}

 .logowhite {
    font-family: Raleway, sans-serif;
    color: var(--header-bcolor);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;
  
}
