.header__nav ul{
    list-style-type: none;
   
}
.header__nav{
    margin-left: 93px;
}


.site-nav__link a{
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    transition: color 250ms var(--cubic-bezier);
}

.site-nav__link a{
    text-decoration: none;
}

.site-nav__link, .link__studio:focus,
.link__studio:hover{
    color: var(--accent-color);
}

.link__contacts{
    font-weight: 500;
    color:var(--h-color-text);
    transition: color 250ms var(--cubic-bezier);
    &:hover,
    &:focus{
        color:var(--accent-color);
    }

}
.site-nav__link{
   
    display: block;
}
 .site-nav__link{
     display: flex;
     flex-direction: row;
     margin: 0;
     padding: 0;
     
 }

 .header__li{
    position:relative;
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;

&:nth-last-child(-n + 1) {
    margin-right: 0;
}
}

.link-studio__active {
    padding-top: 32px;
    padding-bottom: 32px;
    color:var(--accent-color);
    transition: color 250ms var(--cubic-bezier);
    &:hover{
        color:var(--accent-color);
    }
}
.link-port__active{
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--accent-color);
    &:hover{
 color:var(--accent-color);
    }
  }

.position__bottom::after{
    position: absolute;
    bottom: -1px;
    right: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.link__port {
    font-weight: 500;
    color:var(--h-color-text);
    transition: color 250ms var(--cubic-bezier);
    &:hover,
    &:focus{
        color: var(--accent-color);
    }
}
