
.modal__register{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
    transition: fill 250ms var(--cubic-bezier);
}
.modal__label{
    display: flex;
    flex-direction: column;
    position: relative;

}
.modal__input{
    font-family: 'Roboto';
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--main-text-color);
    margin-bottom: 4px;
  
}
.input__line{
    display: block;
    width: 100%;
    padding: 11px 0px 11px 12px;
    padding-left: 42px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    cursor: pointer;
    transition: border 250ms var(--cubic-bezier);
   
    
}

.reg__comment{
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    resize: none;
    padding: 12px 16px;  
    width: 100%;
    height: 120px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    transition: border 250ms var(--cubic-bezier);
   

}
.terms__contract{
    text-decoration: underline;
    color:var(--accent-color);
}
.icon__input{
    position: absolute;
    bottom: 11px;
    left: 12px;
    fill: var(--h-color-text);
    transition: fill 250ms var(--cubic-bezier);
    visibility: 250ms var(--cubic-bezier);
    
    
}
.input__line:focus,
.reg__comment:focus,
.input__line:hover,
.reg__comment:hover
{
    outline: none;
    border: 1px solid #2196F3;

}
.input__line:focus,
.input__line:hover{
    fill:#2196F3;
   
}


.input__line:focus + .icon__input{
    fill: var(--accent-color);
}


.text__assign{
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: calc(24 / 14);
    }
}


.terms__assign{
    display: flex;
    align-items: center;
    gap: 9px;
    position: relative;
    margin-bottom: 30px;
}
.icon__check {
    display: block;
    width: 16px;
    height: 15px;
    background-image: url(../images/icon-not-check.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.terms:checked + .icon__check {
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color:#2196F3;
}
