.social{
    display: flex;
    justify-content: center;
    gap: 10px;

}
.social__list{
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    &:last-child{
        margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);
        margin-bottom: 0;
    }
}
.social__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: var(--color-gray);
    border-radius: 50%;
    transition: color 250ms var(--cubic-bezier);
    background-color: 250ms var(--cubic-bezier);
    &:hover,
    &:focus{
        background:var(--accent-color);
        color: var(--header-bcolor);
        border-radius: 50%;
    }

}

.social__main{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social__icon{
    fill: currentColor;

}
