.subs{
    margin-left:auto;
    }
    .subs__message{
    color:#FFFFFF;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: left;
}
.subs__follow{
    display: flex;
    align-items: center;
    gap: 12px;
}

.subs__follow input {
    width: 358px;
    padding: 16px 295px 16px 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--header-bcolor);
}
.subs__icon{
    position: relative;
    fill: #FFFFFF;
}
