.container{
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
    outline-offset: -2px;
}

@media screen and (min-width: 768px) {
    .container {
      max-width: 738px;
      padding: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }